.movie_list .movie_list_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.movie_list .movie_list_header h5 {
    font-size: 20px;
}

.movie_list .movie_list_header .movie_list_header_next_btn {
    height: 30%;
}

.movie_list .movie_list_data {
    display: flex;
    padding: 20px;
}

.movie_list .movie_list_data .movie_list_data_item {
    width: 24%;
    cursor: pointer;
    margin-right: 20px;
} 

.movie_list .movie_list_data .movie_list_data_item .movie_list_data_item_image
{
    width: 90%;
    height: 70%;
}

.movie_list .movie_list_data .movie_list_data_item .movie_list_data_item_name {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie_list .movie_list_data .movie_list_data_item .movie_list_data_item_info {
    text-align: left;
}